<div class="callback-form jsCallbackForm jsCallbackForm_<?= $formName ?>">
    <div class="text">
        Залиште свій контакт і ми зателефонуємо
    </div>
    <div class="callback">Дякуємо за звернення, наші менеджери зв'яжуться з вами у найближчий час</div>
    <div class="content">
        <label for="">Номер телефону</label>
        <input type="text" name="phone" class="jsContact">
        <input type="hidden" name="title" class="jsFormTitle" value="<?= $title ?>">
    </div>
    <div class="controls">
        <!-- TODO: ajax сделать ajax отправку и сохранение данных формы на бекенде  -->
        <!-- TODO: слать заявку на вайбер  -->
        <span class="submit" onclick="sendRequestCall('<?= $formName ?>')">Зателефонуйте <i class="fa fa-phone"></i></span>
    </div>
</div>