
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]

RewriteRule ^news$ news.php [L]
RewriteRule ^newscontent$ newscontent.php [L]
RewriteRule ^about$ about.php [L]
RewriteRule ^contacts$ contacts.php [L]
RewriteRule ^project$ project.php [L]
RewriteRule ^project2$ project2.php [L]
RewriteRule ^projects$ projects.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

